alabaster
attrs
Babel
certifi
chardet
colorama
docutils
idna
imagesize
Jinja2
MarkupSafe
numpy
packaging
pandas==0.23.4
pockets
Pygments
pyparsing
python-dateutil
pytz
PyYAML
readthedocs-sphinx-ext
requests
six
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-napoleon
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3
