backports.zoneinfo==0.2.1
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
cloudpickle==2.2.1
coloredlogs==15.0.1
cycler==0.11.0
dask==2022.2.0
distributed==2022.2.0
flatbuffers==23.1.21
fonttools==4.38.0
fsspec==2023.1.0
HeapDict==1.0.1
humanfriendly==10.0
idna==3.4
importlib-metadata==6.0.0
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
llvmlite==0.39.1
locket==1.0.0
lttb==0.3.1
MarkupSafe==2.1.2
matplotlib==3.5.3
mpmath==1.2.1
msgpack==1.0.4
numba==0.56.4
numpy==1.21.6
onnxruntime==1.13.1
packaging==23.0
pandas==1.3.5
partd==1.3.0
patsy==0.5.3
Pillow==9.4.0
protobuf==4.21.12
psutil==5.9.4
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
requests==2.28.2
/cs/certified/apps/rfwtools/1.3.0/rfwtools-1.3.0-py3-none-any.whl
#rfwtools==1.3.0
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
six==1.16.0
sortedcontainers==2.4.0
statsmodels==0.13.5
stumpy==1.11.1
sympy==1.10.1
tblib==1.7.0
threadpoolctl==3.1.0
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
tsfresh==0.20.0
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.14
zict==2.2.0
zipp==3.12.0
